$button-font-size: 12px;
$task-wrapper-font-size: 22px;

.taskWrapper {
	display: flex;
	margin: 0 auto;
	width: 70%;
  background-color: rgb(85, 85, 85);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: $task-wrapper-font-size;
  position: relative;
	cursor: pointer;
	
	 > div {
    display: flex;
    align-items: center;
  }
}


.taskNumber {
  color: rgb(255, 255, 255);
	border: 1px solid rgb(192, 192, 192);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
	background-color: rgb(85, 85, 85);
	font-weight: 600;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.buttonWraper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.done {
	text-decoration: line-through;
	opacity: 0.3;
}

.button {
	position: relative;
	display: inline-block;
	padding: 6px 16px;
	margin: 0 6px;
	border-radius: 40px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: $button-font-size;
	font-weight: 600;
	cursor: pointer;
	border: none;
	color: rgb(255, 255, 255);
}

.buttonCompleteTask {
	background: linear-gradient(90deg, rgba(128, 255, 0, 0.7), rgb(74, 114, 34) );
}

.buttonEditTask {
	background: linear-gradient(90deg, rgb(255, 215, 0), rgb(134, 93, 18) );
}

.buttonDeleteTask {
	background: linear-gradient(90deg, rgb(240, 12, 58), rgb(130, 33, 52) );
}
