$filter-button-font-size: 15px;

.filterButton {
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	background-color: transparent;
	border: none;
	font-size: $filter-button-font-size;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
	margin-bottom: 10px;
	cursor: pointer;
	font-weight: 600;

	&:hover {
		color: rgb(153, 153, 153);
	}
}

.buttonSelected {
	border-bottom: 2px solid rgb(0, 255, 137);
};